@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    background-color: #F0F2F5;
    height: 2485px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nav-container {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    position: fixed;
    z-index: 1;
}

.left-nav-part {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name-icon-container {
    height: 45px;
    width: 37px;
    margin: 0px 10px;
    background-color: #0051ffc9;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.name-icon-container:hover {
    cursor: pointer;
    background-color: #1D4ED8;
}

#name-icon {
    color: #ffffff;
}

#name {
    font-size: 20px;
    font-weight: 700;
}

.center-nav-part {
    color: #374151;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.center-nav-part-items {
    margin: 0px 20px;
}

.center-nav-part-items:hover {
    cursor: pointer;
    color: #0051ffc9;
}

.right-nav-part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.get-started-button {
    color: #ffffff;
    background-color: #0051ffc9;
    height: 35px;
    width: 120px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
    left: 8px;
}

.get-started-button:hover {
    cursor: pointer;
    background-color: #1D4ED8;
}

.hero-container {
    height: 900px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hero-container-items {
    height: 1000px;
    width: 50%;
}

#left-hero-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#hero-heading {
    height: 200px;
    width: 500px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 72px;
    font-weight: 800;
    font-style: bold;
    line-height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    left: 15px;
}

#hero-subheading {
    color: #5d6570;
    height: 100px;
    width: 75%;
    font-size: 20px;
    position: relative;
    left: 90px;
}

#hero-buttons-container {
    height: 100px;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    left: 75px;
    bottom: 25px;
}

.hero-buttons {
    height: 50px;
    width: 180px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#free-trial-button {
    color: #ffffff;
    background-color: #0051ffc9;
    font-weight: 600;
}

#free-trial-button:hover {
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(29, 78, 216, 0.5);
}

#demo-button {
    color: #000000;
    background-color: #cadaf0;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#demo-button:hover {
    cursor: pointer;
    background-color: #bbc6d8;
}

#right-hero-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

#background-container {
    background-color: #e6e6e6a7;
    height: 600px;
    width: 600px;
    box-shadow: 0px 3px 27px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
    left: 57px;
}

#mockup-container {
    height: 500px;
    width: 500px;
    background-image: url("/Assets/hero-section.png");
    background-size: cover;
}

.trusted-section-container {
    background-color: #ffffff;
    height: 180px;
    border: 0.5px solid rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#trusted-heading {
    color: #626870;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.trusted-companies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.company-containers {
    color: #878d96;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 30px;
    font-size: 20px;
    font-weight: 600;
}

.company-names {
    position: relative;
    left: 10px;
}

.features-container {
    height: 600px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.features-text-container {
    height: 30%;
    width: 100%;
}

#features-heading {
    color: #1D4ED8;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 1px;
    position: relative;
    top: 70px;
}

#features-subheading {
    color: #6a7179;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 22px;
    font-weight: 400;
    word-spacing: 1px;
    position: relative;
    top: 90px;
}

.features-card-container {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.features-card-container-items {
    height: 45%;
    width: 20%;
    padding: 30px;
    background-color: #ffffff;
    border: 0.75px solid rgba(0, 0, 0, 0.10);
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.10);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    bottom: 25px;
}

.features-card-container-items:hover {
    border: 0.75px solid #1D4ED8;
}

.card-icons {
    height: 45px;
    width: 45px;
    color: #1D4ED8;
    background-color: #cadaf0;
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-headings {
    font-size: 20px;
    font-weight: 600;
}

.card-subheadings {
    color: #6a7179;
}

#card1-container  {
    position: relative;
    left: 70px;
}

#card3-container  {
    position: relative;
    right: 60px;
}

.cta-container {
    height: 400px;
    width: 100%;
    background-color: #0051ffc9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.cta-heading {
    color: #ffffff;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 50px;
    font-weight: 800;
    position: relative;
    bottom: 30px;
}

.cta-subheading {
    color: #ffffffc9;
    font-size: 18px;
    word-spacing: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cta-button {
    color: #1D4ED8;
    background-color: #ffffff;
    height: 60px;
    width: 220px;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    position: relative;
    top: 40px;
}

.cta-button:hover {
    background-color: #F0F2F5;
    cursor: pointer;
}

.footer-container {
    height: 403px;
    width: 100%;
}

.top-section-of-footer {
    height: 303px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}